

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    background-color: rgb(18, 17, 17);
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 200px 0;
    position: relative;
}

img{
    max-width: 100%;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}


.menu{
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content:  space-between;
    z-index: 1000;
}

.logo{
    color: rgb(185, 178, 178);
    font-size: 25px;
    font-weight: 800;
    text-transform: uppercase;
}

.menu .navbar ul li{
    position: relative;
    float: left;
}

.menu .navbar ul li a{
    font-size: 18px;
    color: white;
    display: block;
    font-weight: 600;
    padding: 20px;
}

.menu .navbar ul li a:hover{
    color: rgb(117, 4, 4);
}

#menu{
    display: none;
}

.menu-icono{
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.header-txt{
    width: 100%;
    text-align: center;
}


.header-txt h1{
    color: white;
    font-size: 70px;
    line-height: 80px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.header-txt span{
    color: red;
}

.header-txt p{
    font-size: 16px;
    color: rgb(159, 158, 158);
    padding: 0 20px;
    max-width: 800px;
    margin: 0 auto 25px auto;
}

.buttons{
    display: flex;
    justify-content: center;
}

.btn-1{
    display: inline-block;
    background-color: rgb(172, 4, 4);
    padding: 13px 25px;
    width: 150px;
    margin: 0 10px;
    border-radius: 25px;
    color: white;
    transition: .3s;
}

.btn-1:hover{
    background-color: rgb(241, 7, 7);
}

.services{
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 35px;
}

.service{
    text-align: center;
    padding: 35px;
}

.service img{
    width: 50px;
    height: 50px;
}

.service h3{
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
}

p{
    font-size: 16px;
    color: aliceblue;
}

.about{
    padding: 50px 0;
}

.about-content{
    display: flex;
    align-items: center;
}

.about-txt{
    flex-basis: 50%;
    padding: 35px;
}

.section-label span{
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: brown;
}

span{
    color: rgb(146, 146, 144);
}


h2{
    font-size: 35px;
    color: rgb(250, 250, 250);
    line-height: 1;
}

hr{
    border: 1px solid red;
    width: 10%;
    margin-bottom: 30px;
}

.about-img img{
    flex-basis: 50%;
    text-align: center;
}

.about-img img{
    width: 500px;
    border-radius: 25px;
}

.testimonial{
    padding: 50px 0;
    text-align: center;
}

.testimonial-content{
    display: flex;
    flex-wrap: calc(4,1fr);
    justify-content: space-between;
    margin-top: 35px;
    gap: 8px;
    width: 80%;
}

.testimonial-1{
    flex-basis: calc(50% - 25px);
    background-color: #191b1f;
    padding: 25px;
    box-shadow: 0 0 20px black;
    border-radius: 8px;
    gap: 5px;
}

.ttlo-testimonial{
    border: solid white;
    
}

.tto-box{
    display: flex;
    flex-direction: column;
    padding-left:;
    border: solid rgb(221, 32, 32);
    justify-content: ;
    width: 20%;
    margin-left: 10%;
}

.testimonial-1 h4{
    color: aliceblue;
    font-size: 15px;
    margin-bottom: 15px;
}

.testimonial-1 p{
    font-size: 12px;
    margin-bottom: 10px;
}

.face{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 4px solid red;
    margin-bottom: 15px;
}

.informacion{
    padding: 50px 0 100px 0;
    display: flex;
}

.information-txt{
    flex-basis: 50%;
    padding: 10px;
}

.f1, .f2 {
    width: 100%;
    max-width: 550px;
}

input{
    display: block;
    padding: 17px;
    background-color: transparent;
    border: 1px solid white;
    width: 350px;
    margin-bottom: 25px;
    font-size: 17px;
    color: white;
}

::placeholder{
    color: azure;
}

.office{
    margin: 50px 0;
    display: flex;
    align-items: center;
}

.office h3{
    font-size: 17px;
    font-weight: 500;
    margin-left: 15px;
    color: aliceblue;
}

.footer{
    padding: 50px 0;
    background-color: rgb(27, 27, 27);
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 17px;
    color: rgb(250, 248, 248);
    margin-bottom: 10px;
    text-transform: uppercase;
    box-shadow: 0 0 5px rgb(110, 36, 36);
    background-color:rgb(35, 35, 35);
}

.link a{
    font-size: 17px;
    color: aliceblue;
    display: block;
    margin-bottom: 10px;
}

.link a:hover{
    color: brown;
}




@media (max-width: 992px) {

    .header-txt h1 { font-size: 50px; }
    .header-txt p { padding: 0 80px; }

    .services { grid-template-columns: repeat(2, 1fr); }

    .testimonial-content { flex-direction: column; }

}

@media (max-width: 768px) {

    .menu label { display: block; }

    .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: black;
        display: none;
        text-align: center;
    }

    #menu:checked ~ .navbar{
        display: block;
    }

    .navbar ul li{ float: none; width: 100%; }

    .header{ padding: 150px 0; }
    .header-txt h1{ font-size: 40px; }
    .header-txt p{ padding: 0 30px; }

    .services{ grid-template-columns: 1fr; }

    .about-content{ flex-direction: column; text-align: center; }

    .informacion{ flex-direction: column; text">}
}

